.butnfon{ display: block; 
text-align: center; 
position: absolute; 
top: 30%; width: 100%;
} 
button{ background-color: transparent;
background-repeat: no-repeat;
border: 1; 
color: red;
cursor: pointer;
overflow: hidden;
outline: none;
}
button:hover{color: white;}
.btn:hover{color: rgb(18, 116, 38);}
p{font-size: 17px;}
.audiolist{ margin-bottom: 5px; font-size: 1.3rem;
border: 1px dashed #a45be8; border-radius: 10px; 
}
    